@import '../../assets/styles/settings/all';
@import '../../assets/styles/tools/all';


.Select {
  border: 1px solid $border-color-gray-dark;
  border-radius: 2px;
  padding: em(6px) em(30px) em(6px) em(12px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: 0;
  }

  &-icon {
    color: $color-primary;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    height: 100%;
    width: em(24px);
    border-left: 1px solid $border-color-gray;
            background: transparent url(../../assets//img/dropdown-arrows.svg) center/em(18px) no-repeat;
  }
}
