@import '../../../assets/styles/settings/all';
@import '../../../assets/styles/tools/all';

.InboxHeader {
  font-size: 1rem; // controls the size of all the component elements

  &-top {
    padding: em(15px) em(20px);
    border-bottom: 1px solid $border-color-gray;
  }

  &-title {
    margin: 0;
    font-size: em(17px);
    line-height: 1;
  }

  &-badge {
    color: $white;
    line-height: 1;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);

    background-color: $color-warn;
    border-radius: 9999px;
    padding: em(2px) em(8px);
    margin-left: em(10px);
  }
}
