@import '../../assets/styles/settings/all';
@import '../../assets/styles/tools/all';

.Viewer {
  font-size: 1rem;
  flex: 1;

  &-title {
    font-size: em(15px);
    font-weight: bold;
    margin-bottom: 0;
  }

  &-content {
    padding: em(10px) em(32px);
    max-width: 720px;
  }
}
