$white: #FFF;


$color-primary: #03B9ED;
$color-primary-light: #EEFAFF;
$color-warn:  #FC3401;

$color-gray: #97989A;
$color-gray-light: #EEF4F9;
$color-gray-dark: #656565;

$border-color-gray: #DBE2EA;
